body {
    height: 100vh;
    background-image: url('https://previews.123rf.com/images/sutichak/sutichak1706/sutichak170600234/79587598-orange-fahrrad-geparkt-dekorieren-interieur-wohnzimmer-modernen-stil-mit-zementm%C3%B6rtel-wand-hintergrund.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
