body {
    height: 100vh;
    background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1610/Beautiful_City_Lights_At_Night-Cities_Photo_HD_Wallpaper_1366x768.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
